.bodyInfoRight_container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}


.bodyInfoRight_uppertext {
  font-size: 18px;
  margin-bottom: 5px;
}
.img_smallclarifion{
  height: 100px;
  margin-right: 5px;
}

span {
  color: rgba(44, 126, 248, 1);
}

.container_ionizer{
  display: flex;
}

.ionizer_description{
  margin-left: 12px;
}

.ionizer-price{
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}

.price_low{
  color: rgba(150, 150, 150, 1);
  margin-left: 50px;
  font-size: 8px;
}

.stock{
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-top: 8px;
  margin-bottom: 3px;
}

.radio{
height: 10px;
margin-bottom: 2px;
}

.ionizer_stars{
  display: flex;
  align-items: center;
}
.img_ion_stars{
  height: 8px;
  margin-top: 4px;
}

.ionizer_text{
  font-size: 11px;
}

.container_tick {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-bottom: -15px;

}

.img_tick {
  height: 15px;
  margin-right: 5px;
}

.container_discount {
  display: flex;
  align-items: center;
  background-color: rgba(237, 243, 253, 1);
  border-radius: 8px;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px
}

.img_percentage {
  height: 18px;
  margin-right: 10px;
}

.claim {
  background-color: rgba(89, 174, 67, 1);
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}

.shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(207, 207, 207, 1);
  border-radius: 5px;
  font-size: 7px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 10px;
}

.stick {
  font-size: 20px;
  color: rgba(207, 207, 207, 1);
  margin: -4px 2px -4px 2px

}

.img_lock-black {
  height: 10px;
}

.img_cards {
  height: 10px;
}

.dismiss{
  color: rgba(248, 44, 44, 1);
  text-decoration: underline;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.satisfaction{
  display: flex;
  align-items: center;
  font-size: 10px;
  text-align: justify;
}

.img_satisfaction{
  height: 60px;
  margin-right: 5px;
}

@media (max-width: 780px){
.bodyInfoRight_container{
  width: 280px;
  flex-direction: column;
  align-items: center;
}

  .container_ionizer{
    align-items: center;
  }

  .img_smallclarifion{
    margin-top: 14px;
  }
  .ionizer_description{
    margin-top: 10px;
  }
  .ionizer-price{
    margin-top: 10px;
  }
  .container_tick{
    margin-bottom: 0px;
  }
  .container_discount{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .shipping{
    margin-top: 10px;
  }
  .satisfaction{
    margin-top: 10px;
  }
}