.bodyInfoLeft_container{
  margin-right: 20px;
}

.img_bigclarifion {
  width: 300px;
}

.avatar {
  margin-right: 10px;
  height: 40px;
}

.bodyInfoLeft_stars {
  display: flex;
  margin-bottom: 3px;
}

.bodyInfoLeft_customer_container {
  background-color: white;
  padding: 5px;
  width: 290px;
  border-radius: 5px;
}

.bodyInfoLeft_customer_container-info {
  display: flex;
  align-items: center;
  font-size: 10px;
}

.bodyInfoLeft_customer_name {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.verified {
  color: rgba(91, 181, 154, 1);
}

.verify-icon{
  margin-left: 5px;
  margin-right: 5px;
  height: 12px;
}

.review-text{
  margin-top: 10px;
  font-size: 11px;
  text-align: justify;
}