.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(37, 47, 61, 1);
  color: white;
  font-size: 10px;
  padding: 5px;
}

.header_text {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.header_img {
  margin-right: 5px;
  height: 13px;
}

.header_text:hover {
  cursor: pointer;
}

.Arrow1, .Arrow2, .Arrow3, .Arrow4 {
  display: none;
}
.radio_slider {
  display: none;
}

@media (max-width: 768px) {
  .header {
    overflow-x: hidden;
    position: relative;
    white-space: nowrap;
  }
  .header_text {
    width: 100%;
    margin-top: 10px;
    margin-left: 80px;
    position: absolute;
    background-size: cover;
    transition: all 0.5s ease;
    overflow-y: hidden;
  }

  #Slider1:checked ~ .header .header_text:nth-of-type(1) {
    transform: translate(0%, 0);
  }
  #Slider1:checked ~ .header .header_text:nth-of-type(2) {
    transform: translate(100%, 0);
  }
  #Slider1:checked ~ .header .header_text:nth-of-type(3) {
    transform: translate(200%, 0);
  }
  #Slider1:checked ~ .header .header_text:nth-of-type(4) {
    transform: translate(300%, 0);
  }
  /* Estado 2 */
  #Slider2:checked ~ .header .header_text:nth-of-type(1) {
    transform: translate(-100%, 0);
  }
  #Slider2:checked ~ .header .header_text:nth-of-type(2) {
    transform: translate(0%, 0);
  }
  #Slider2:checked ~ .header .header_text:nth-of-type(3) {
    transform: translate(100%, 0);
  }
  #Slider2:checked ~ .header .header_text:nth-of-type(4) {
    transform: translate(200%, 0);
  }
  /* Estado 3 */
  #Slider3:checked ~ .header .header_text:nth-of-type(1) {
    transform: translate(-200%, 0);
  }
  #Slider3:checked ~ .header .header_text:nth-of-type(2) {
    transform: translate(-100%, 0);
  }
  #Slider3:checked ~ .header .header_text:nth-of-type(3) {
    transform: translate(0%, 0);
  }
  #Slider3:checked ~ .header .header_text:nth-of-type(4) {
    transform: translate(100%, 0);
  }
  /* Estado 4 */
  #Slider4:checked ~ .header .header_text:nth-of-type(1) {
    transform: translate(-300%, 0);
  }
  #Slider4:checked ~ .header .header_text:nth-of-type(2) {
    transform: translate(-200%, 0);
  }
  #Slider4:checked ~ .header .header_text:nth-of-type(3) {
    transform: translate(-100%, 0);
  }
  #Slider4:checked ~ .header .header_text:nth-of-type(4) {
    transform: translate(0%, 0);
  }



  .header .ArrowLeft,
  .header .ArrowRight {
    position: absolute;
    margin-top: 15px;
    display: none;
    user-select: none;
  }
  .header .ArrowLeft {
    left: 20px;
  }
  .header .ArrowRight {
    right: 20px;
  }

  #Slider1:checked ~ .header .Arrow1 {
    display: flex;
  }
  #Slider2:checked ~ .header .Arrow2 {
    display: flex;
  }
  #Slider3:checked ~ .header .Arrow3 {
    display: flex;
  }
  #Slider4:checked ~ .header .Arrow4 {
    display: flex;
  }
}