.container_body_logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-left:60px;
}

.container_body_logos_right {
  display: flex;
  margin-right: 120px;
}

.container_body_progress {
  width: 100%;
  text-align: center;
  font-size: 48px;
}

.container_body_progress_text {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.container_body_steps {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container_body_steps_single {
  display: flex;
  align-items: center;
  width: 100%;
}
.img_steps {
  width: 20px;
  margin-right: 5px;
}

.container_body_fullinfo{
  display: flex;
  background-color: rgba(250, 250, 250, 1);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}
