.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(37, 47, 61, 1);
  color: white;
  font-size: 10px;
  height: 88px;
  align-items: center;
}

.footer_right{
  display: flex;
  margin-right: 60px;
}

.footer_left{
  display: flex;
  margin-left: 60px;
}

.footer_center{
  margin-left: 5px;
  margin-right: 5px;
}

.footer_img{
  margin-right: 5px;
  height: 13px;
}

.mail{
  color: white;
  text-decoration: none;
}